---
const links = [
  { label: "Politica de privacidad", href: "/politica-privacidad" },
  { label: "Terminos y condiciones", href: "/terminos-condiciones" },
  { label: "Soporte", href: "#" },
  { label: "Estado del Sistema", href: "#" },
];
---

<footer
  class="w-full py-16 px-6 bg-white/[0.02] border-t border-white/5"
>
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-4"
  >
    <div class="space-y-2 text-center md:text-left">
      <!-- Logo -->
      <a href="#" class="flex items-center gap-2 group">
        <img src="logo.png" alt="logo" class="w-30 h-12" />
      </a>
      <p class="text-sm text-white/40">
        © 2026 PULSO. Hecho para atletas exigentes.
      </p>
      <p class="text-sm text-white/40">
        Desarrollado por <a href="https://www.devhub.com.ar/" target="_blank" class="text-primary hover:underline">Devhub</a>
      </p>
    </div>

    <nav class="flex flex-wrap justify-center gap-8">
      {
        links.map((link) => (
          <a
            href={link.href}
            class="text-xs font-semibold tracking-widest uppercase text-white/40 hover:text-primary transition-colors"
          >
            {link.label}
          </a>
        ))
      }
    </nav>

    <div class="flex gap-4">
      <a
        href="#"
        class="w-10 h-10 rounded-full glass-card flex items-center justify-center hover:text-primary hover:border-primary/40 transition-all duration-300"
      >
        <span class="material-symbols-outlined">share</span>
      </a>
    </div>
  </div>
</footer>